In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("userfoods.csv")

In [4]:
data.head()

  First Name  Gender          City Frequency       Item  Spend
0      Wanda  Female      Stamford    Weekly     Burger  15.66
1       Eric    Male      Stamford     Daily    Chalupa  10.56
2    Charles    Male      New York     Never      Sushi  42.14
3       Anna  Female  Philadelphia      Once  Ice Cream  11.01
4    Deborah  Female  Philadelphia     Daily    Chalupa  23.49

In [5]:
data.pivot(index="", columns = "Item", values = "Spend")

ValueError: Index contains duplicate entries, cannot reshape

In [7]:
data.pivot_table(index = "Gender", values = "Spend" ,columns = "Item",aggfunc = "sum")

Item     Burger  Burrito  Chalupa    Donut  Ice Cream    Sushi
Gender
Female  4094.30  4257.82  4152.26  4743.00    4032.87  4683.08
Male    3671.43  4012.62  3492.26  4015.76    4854.12  4059.85

In [8]:
data.pivot_table(index = ["Gender","Item"], values = "Spend" ,aggfunc = "sum")

                    Spend
Gender Item
Female Burger     4094.30
       Burrito    4257.82
       Chalupa    4152.26
       Donut      4743.00
       Ice Cream  4032.87
       Sushi      4683.08
Male   Burger     3671.43
       Burrito    4012.62
       Chalupa    3492.26
       Donut      4015.76
       Ice Cream  4854.12
       Sushi      4059.85

In [26]:
df = data.pivot_table(index = ["City"], values = "Spend" ,columns = "Item", aggfunc = "max").max()
df

Item
Burger       99.68
Burrito      99.21
Chalupa      99.87
Donut        99.26
Ice Cream    99.24
Sushi        99.51
dtype: float64

In [25]:
for i in df.columns:
    print(df.columns.get_indexer_for,i,max(df[i]))

<bound method Index.get_indexer_for of Index(['Burger', 'Burrito', 'Chalupa', 'Donut', 'Ice Cream', 'Sushi'], dtype='object', name='Item')> Burger 99.68
<bound method Index.get_indexer_for of Index(['Burger', 'Burrito', 'Chalupa', 'Donut', 'Ice Cream', 'Sushi'], dtype='object', name='Item')> Burrito 99.21
<bound method Index.get_indexer_for of Index(['Burger', 'Burrito', 'Chalupa', 'Donut', 'Ice Cream', 'Sushi'], dtype='object', name='Item')> Chalupa 99.87
<bound method Index.get_indexer_for of Index(['Burger', 'Burrito', 'Chalupa', 'Donut', 'Ice Cream', 'Sushi'], dtype='object', name='Item')> Donut 99.26
<bound method Index.get_indexer_for of Index(['Burger', 'Burrito', 'Chalupa', 'Donut', 'Ice Cream', 'Sushi'], dtype='object', name='Item')> Ice Cream 99.24
<bound method Index.get_indexer_for of Index(['Burger', 'Burrito', 'Chalupa', 'Donut', 'Ice Cream', 'Sushi'], dtype='object', name='Item')> Sushi 99.51

Question :Converting a pivot table to dataframe using melt method():
-------------------