In [1]:
import pandas as pd

In [2]:
import datetime as dt

In [8]:
str(dt.datetime(2011,9,21))
time1 = dt.datetime(2011,9,21)

In [9]:
time1.month

9

In [10]:
pd.Timestamp('2012-Oct-22')

Timestamp('2012-10-22 00:00:00')

In [14]:
pd.date_range(start='2023-02-01', end='2023-02-28' ,freq='B')

DatetimeIndex(['2023-02-01', '2023-02-02', '2023-02-03', '2023-02-06',
               '2023-02-07', '2023-02-08', '2023-02-09', '2023-02-10',
               '2023-02-13', '2023-02-14', '2023-02-15', '2023-02-16',
               '2023-02-17', '2023-02-20', '2023-02-21', '2023-02-22',
               '2023-02-23', '2023-02-24', '2023-02-27', '2023-02-28'],
              dtype='datetime64[ns]', freq='B')

In [16]:
pd.date_range(start='2023-02-01', end='2023-02-26' ,freq='15D')

DatetimeIndex(['2023-02-01', '2023-02-16'], dtype='datetime64[ns]', freq='15D')

In [21]:
dateSeries = pd.Series(pd.date_range(start='2023-01-01', end='2023-03-26' ,freq='15D'))

In [22]:
dateSeries

0   2023-01-01
1   2023-01-16
2   2023-01-31
3   2023-02-15
4   2023-03-02
5   2023-03-17
dtype: datetime64[ns]

In [23]:
dateSeries.dt.is_quarter_start

0     True
1    False
2    False
3    False
4    False
5    False
dtype: bool

pip install pandas-datareader

In [24]:
from pandas_datareader import data

In [25]:
stocks = data.DataReader(name = "MSFT",data_source="stooq",start="2022-01-01",end="2023-01-01")

In [28]:
stocks

               Open     High       Low    Close        Volume
Date
2022-12-30  238.210  239.960  236.6600  239.820  2.193847e+07
2022-12-29  235.650  241.920  235.6500  241.010  1.977069e+07
2022-12-28  236.890  239.720  234.1700  234.530  1.745710e+07
2022-12-27  238.700  238.930  235.8300  236.960  1.668865e+07
2022-12-23  236.110  238.870  233.9428  238.730  2.120698e+07
...             ...      ...       ...      ...           ...
2022-01-07  311.233  313.565  307.2110  311.123  3.302661e+07
2022-01-06  310.240  315.739  308.6010  310.964  4.001764e+07
2022-01-05  322.837  323.046  313.0490  313.446  4.042964e+07
2022-01-04  331.723  332.090  323.0950  325.954  3.298047e+07
2022-01-03  332.239  334.859  326.7190  331.643  2.918898e+07

[251 rows x 5 columns]

In [26]:
stocks.values

array([[2.38210000e+02, 2.39960000e+02, 2.36660000e+02, 2.39820000e+02,
        2.19384720e+07],
       [2.35650000e+02, 2.41920000e+02, 2.35650000e+02, 2.41010000e+02,
        1.97706930e+07],
       [2.36890000e+02, 2.39720000e+02, 2.34170000e+02, 2.34530000e+02,
        1.74571040e+07],
       ...,
       [3.22837000e+02, 3.23046000e+02, 3.13049000e+02, 3.13446000e+02,
        4.04296424e+07],
       [3.31723000e+02, 3.32090000e+02, 3.23095000e+02, 3.25954000e+02,
        3.29804700e+07],
       [3.32239000e+02, 3.34859000e+02, 3.26719000e+02, 3.31643000e+02,
        2.91889798e+07]])

In [27]:
stocks.index

DatetimeIndex(['2022-12-30', '2022-12-29', '2022-12-28', '2022-12-27',
               '2022-12-23', '2022-12-22', '2022-12-21', '2022-12-20',
               '2022-12-19', '2022-12-16',
               ...
               '2022-01-14', '2022-01-13', '2022-01-12', '2022-01-11',
               '2022-01-10', '2022-01-07', '2022-01-06', '2022-01-05',
               '2022-01-04', '2022-01-03'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

Find out the total amount of volumes of shares that has been traded from monday to Wednesday.

Get the highest value, of his stock which has been placed in each year.

Find the minimum closing value of each quarter of the year 2032.

In [29]:
time1 = pd.Timestamp('2022-02-15')

time2 = pd.Timestamp('2022-02-17')

time1 - time2

Timedelta('-2 days +00:00:00')