# Class and Objects:

In [3]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def get_first_name(self):
    return self.name.split()[0]

  def get_last_name(self):
    return self.name.split()[-1]
  
  def age_cat(self):
    try:
      if self.age > 0 and self.age < 18:
        return "child"
      elif self.age >= 18 and self.age < 60: 
        return "Adult"      
      else:
        return "Senior Citizen"
    except:
      return "Enter numeric data"

class Patient(Person):
  def __init__(self,name,age,ssn):
    super().__init__(name,age)
    self.ssn = ssn

  def __str__(self):
    s = "The age of "+ str(self.name) + " is "+ str(self.age) + ".\n"
    s+= "And the Social security number is "+ str(self.ssn)
    return s

  def __repr__(self):
    s = "The age of "+ str(self.name) + " is "+ str(self.age) + ".\n"
    s+= "And the Social security number is "+ str(self.ssn)
    return s

patient1 = Patient("Jhon M. Doe", 54, 123456)

print(patient1.get_first_name())
print(patient1.__repr__())

person1 = Person("John M. Doe", 37)
person2 = Person("John M. Doe", 98)
person3 = Person("John M. Doe", "a")

# print(person1.get_first_name())
# print(person1.get_last_name())
# print(person1.age_cat())
# print(person2.age_cat())
# print(person3.age_cat())

Jhon
The age of Jhon M. Doe is 54.
And the Social security number is 123456

# TRY  AND EXCEPT BLOACKS WITH RAISE EXCEPTIONS

In [1]:
while 1:
  try:
    age = int(input())
    
    if age * 0 != 0:
      raise Exception(age)

    else:
      if age > 0:
        break

      else:
        raise Exception(e2)
  
  except ValueError as e1:
    print("pass numeric number")

  except Exception as e2:
    print("pass positive number")

23

Finally block always executes, even error occurs or not.

In [ ]:
invalid = True

long_months = [1,3,5,7,8,10,12]

while invalid:
  try:
    year, month, day = list(map(int,input().split()))
    if day > 31:
      raise Exception()
    if month not in long_months and day > 30:
      raise Exception()
    if year < 1900:
      raise Exception()
    invalid = False
  except:
    print("Invalid input. Please try again....")
  finally:
    print("Finally block.")
print("DOB: "+ str(day) + "-" + str(month) + "-" +str(year))

**Class and Objects:**

1. Person
2. Student(Person)
3. Teacher(Person)
4. HOD(Teacher)

In [16]:
class Person:
  def __init__(self,fname,lname,age):
    self.fname = fname
    self.lname = lname
    self.age = age

  def get_full_name(self):
    return str(self.fname) + str(self.lname)

  def __str__(self):
    s = "The age of "+ str(self.fname) + str(self.lname) + " is "+ str(self.age) + ".\n"
    return s

class Student(Person):
  def __init__(self,fname,lname,age,reg_no,maths,science,english):
    super().__init__(fname,lname,age)
    self.reg_no = reg_no
    self.maths = maths
    self.science = science
    self.english = english

  def get_total_marks(self):
    return self.maths + self.science + self.english



  def __str__(self):
    s = "The age of "+ str(self.fname) + str(self.lname) + " is "+ str(self.age) + " And The registration Number is " + str(self.reg_no)+ " and the marks obtained in subjects are " +  " English : " + str(self.english) + " Maths : " + str(self.maths) + " Science : " + str(self.science) + ".\n"
    return s

class Teacher(Person):
  def __init__(self,fname,lname,age,subjects):
    super().__init__(fname,lname,age)
    self.subjects = subjects

  def get_subjects(self):
   return str(self.fname) + str(self.lname) + " is teaching "+ str(self.subjects) + ", "

  def __str__(self):
    s = "The age of "+ str(self.fname) + str(self.lname) + " is "+ str(self.age) +  " and the subject is " +  str(self.subjects) + ".\n"
    return s

class hod(Teacher):
  def __init__(self,fname,lname,age,subjects,teachers):
    super().__init__(fname,lname,age,subjects)
    self.teachers = teachers
  
  def __str__(self):
    s = "The age of "+ str(self.fname) + str(self.lname) + " is "+ str(self.age) +  " and the subjects taught by HOD is " +  str(self.subjects) + ".\n"
    return s
  
  def get_teacher_count(self):
    deli = " "
    for iter in self.teachers:
      deli += str(iter.get_subjects()) + " "
    return "teachers reporting to HOD are : " + str(deli)

 

person1 = Person("u","v",45)
person2 = Person("w","x",46)
person3 = Person("y","z",47)

print("Person's Repository")
print("--------------------")
print(person1)
print(person2)
print(person3)


print("Fn Call")
print("---------")

print(f'The person1 full name is {person1.get_full_name()} \n')
print(f'The person2 full name is {person2.get_full_name()} \n')
print(f'The person3 full name is {person3.get_full_name()} \n')

student1 = Student("a","b",25,54,90,65,78)
student2 = Student("c","d",26,55,89,64,77)
student3 = Student("e","f",27,56,88,63,76)
student4 = Student("g","h",28,57,87,62,75)
student5 = Student("i","j",29,58,86,61,74)

print("Student's Repository ")
print("-----------------------")
print(student1)
print(student2)
print(student3)
print(student4)
print(student5)


print("Fn Call")
print("---------")

print(f'The total marks scored by student1 is {student1.get_total_marks()} \n')
print(f'The total marks scored by student2 is {student2.get_total_marks()} \n')
print(f'The total marks scored by student3 is {student3.get_total_marks()} \n')
print(f'The total marks scored by student4 is {student4.get_total_marks()} \n')
print(f'The total marks scored by student5 is {student5.get_total_marks()} \n')

teacher1 = Teacher("k","l",45,["english","GK"])
teacher2 = Teacher("m","n",46,["maths","Statistics"])
teacher3 = Teacher("o","p",47,["Hindi","Sanskrit"])
teacher4 = Teacher("q","r",48,["science","Astronomy"])
teacher5 = Teacher("s","t",49,["Social Science"])

print("Teacher's Repository")
print("---------------------")
print(teacher1)
print(teacher2)
print(teacher3)
print(teacher4)
print(teacher5)

print("Fn Call")
print("---------")

print(f'The subject taught by  {teacher1.get_subjects()} \n')
print(f'The subject taught by  {teacher2.get_subjects()} \n')
print(f'The subject taught by  {teacher3.get_subjects()} \n')
print(f'The subject taught by  {teacher4.get_subjects()} \n')
print(f'The subject taught by  {teacher5.get_subjects()} \n')

    
hod1 = hod("ab","cd",56,["Python","MySQL"],[teacher1, teacher2, teacher3])

print("HOD Repositories")
print("-----------------")
print(f'{hod1.get_teacher_count()}')

Person's Repository
--------------------
The age of uv is 45.

The age of wx is 46.

The age of yz is 47.

Fn Call
---------
The person1 full name is uv

The person2 full name is wx

The person3 full name is yz

Student's Repository
-----------------------
The age of ab is 25 And The registration Number is 54 and the marks obtained in subjects are  English : 78 Maths : 90 Science : 65.

The age of cd is 26 And The registration Number is 55 and the marks obtained in subjects are  English : 77 Maths : 89 Science : 64.

The age of ef is 27 And The registration Number is 56 and the marks obtained in subjects are  English : 76 Maths : 88 Science : 63.

The age of gh is 28 And The registration Number is 57 and the marks obtained in subjects are  English : 75 Maths : 87 Science : 62.

The age of ij is 29 And The registration Number is 58 and the marks obtained in subjects are  English : 74 Maths : 86 Science : 61.

Fn Call
---------
The total marks scored by student1 is 233

The total marks scored by student2 is 230

The total marks scored by student3 is 227

The total marks scored by student4 is 224

The total marks scored by student5 is 221

Teacher's Repository
---------------------
The age of kl is 45 and the subject is ['english', 'GK'].

The age of mn is 46 and the subject is ['maths', 'Statistics'].

The age of op is 47 and the subject is ['Hindi', 'Sanskrit'].

The age of qr is 48 and the subject is ['science', 'Astronomy'].

The age of st is 49 and the subject is ['Social Science'].

Fn Call
---------
The subject taught by  kl is teaching ['english', 'GK'],

The subject taught by  mn is teaching ['maths', 'Statistics'],

The subject taught by  op is teaching ['Hindi', 'Sanskrit'],

The subject taught by  qr is teaching ['science', 'Astronomy'],

The subject taught by  st is teaching ['Social Science'],

HOD Repositories
-----------------
teachers reporting to HOD are :  kl is teaching ['english', 'GK'],  mn is teaching ['maths', 'Statistics'],  op is teaching ['Hindi', 'Sanskrit'],

In [41]:
class Person:
  def __init__(self, name, age, address):
    self.name = name
    self.age = age
    self.address = address
  
  def __str__(self):
    s = "The age of "+ str(self.name) + " is "+ str(self.age) + "and the address : " + str(self.address) +  ".\n"
    return s 

class Employee(Person):
  def __init__(self,name,age,address,salary):
    super().__init__(name,age,address)
    self.salary = salary

  def __str__(self):
    s = "The age of "+ str(self.name) + " is "+ str(self.age) + "and the address : " + str(self.address) + " Salary earned: " + str(self.salary) +  ".\n"
    return s 


  def employees_desc(self):
    s = "The age of "+ str(self.name) + " is "+ str(self.age) + "and the address : " + str(self.address) + " Salary earned: " + str(self.salary) +  ".\n"
    return s 

class Sales_Employee(Person):
  def __init__(self,name,age,address,salary,bonus):
    super().__init__(name,age,address)
    self.salary = salary
    self.bonus = bonus

  def salesEmployees_desc(self):
    s = "The age of "+ str(self.name) + " is "+ str(self.age) + "and the address : " + str(self.address) + " Salary earned: " + str(self.salary) + " bonus : " +str(self.bonus) +  ".\n"
    return s 


  def __str__(self):
    s = "The age of "+ str(self.name) + " is "+ str(self.age) + "and the address : " + str(self.address) + " Salary earned: " + str(self.salary) + " bonus : " +str(self.bonus) +  ".\n"
    return s 

class Manager(Employee,Sales_Employee):
  def __init__(self,name,age,address,employees_managed):
    self.name = name
    self.age = age
    self.address = address
    self.employees_managed = employees_managed
    
  def __str__(self):
    s = "The age of "+ str(self.name) + " is "+ str(self.age) + "and the address : " + str(self.address) + " Employees Managed: " + str(self.employees_desc) +  ".\n"
    s+= " Sales_Employees Managed: " + str(self.salesEmployees_desc) +  ".\n"
    return s 
  
  def get_employee_count(self):
    delimiter = " "
    for iter in self.employees_managed:
      delimiter += (str(iter)) + "\n"
      
    return "emp reporting to manager are : " + str(delimiter)

person1 = Person("u", 45 , "vljhfguiasehfi")
person2 = Person("w",46, "hfuaguiflh")
person3 = Person("y",47, "vkeufgpia")

employee1 = Employee("p",46,"hef;iufh;iATHwh",4558565)
employee2 = Employee("O",47,"hef;iufh;iADRHRwh",4658565)
employee3 = Employee("H",45,"hef;iufhTHSATH;iwh",4458565)
employee4 = Employee("R",49,"hef;iufJSHh;iwh",4585658)
employee5 = Employee("U",42,"heCKDGVKf;iufh;iwh",4585965)

sales_employee1 = Sales_Employee("w",46,"hzbef;iufh;iATHwh",455568565,5454)
sales_employee2 = Sales_Employee("e",37,"hef;inzufh;iADRHRwh",4856565,8976)
sales_employee3 = Sales_Employee("r",35,"hefbg;iufhTHSATH;iwh",44658565,8636)
sales_employee4 = Sales_Employee("t",49,"hef;iufJzSHh;iwh",5855658,2146)
sales_employee5 = Sales_Employee("y",52,"heCKDGVzKf;iufh;iwh",45859465,3578)

manager = Manager("a",46,"hzbef;iufhhsh;iATHwh",[employee1,sales_employee1,employee5,sales_employee4])

print(manager.get_employee_count())

emp reporting to manager are :  The age of p is 46and the address : hef;iufh;iATHwh Salary earned: 4558565.

The age of w is 46and the address : hzbef;iufh;iATHwh Salary earned: 455568565 bonus : 5454.

The age of U is 42and the address : heCKDGVKf;iufh;iwh Salary earned: 4585965.

The age of t is 49and the address : hef;iufJzSHh;iwh Salary earned: 5855658 bonus : 2146.