index column - rank
optimize the dataframe with the column.
calculate how many diff companies are present
calculate how many unique companies are present
total revenue generated for energy sector
total number of counts of emp belongs to technological or telecommunication sector

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("fortune_data.csv")
df.head()

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [4]:
df = df.set_index("Rank")
df.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Company    1000 non-null   object
 1   Sector     1000 non-null   object
 2   Industry   1000 non-null   object
 3   Location   1000 non-null   object
 4   Revenue    1000 non-null   int64
 5   Profits    1000 non-null   int64
 6   Employees  1000 non-null   int64
dtypes: int64(3), object(4)
memory usage: 62.5+ KB

In [6]:
for i in df.columns:
    print(f'{i}, {df[i].nunique()} ')

Company, 996
Sector, 21
Industry, 73
Location, 416
Revenue, 945
Profits, 760
Employees, 755

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Company    1000 non-null   object
 1   Sector     1000 non-null   object
 2   Industry   1000 non-null   object
 3   Location   1000 non-null   object
 4   Revenue    1000 non-null   int64
 5   Profits    1000 non-null   int64
 6   Employees  1000 non-null   int64
dtypes: int64(3), object(4)
memory usage: 62.5+ KB

In [8]:
for i in df.columns:
    if df[i].nunique() < 80:
        df[i] = df[i].astype('category')

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Company    1000 non-null   object
 1   Sector     1000 non-null   category
 2   Industry   1000 non-null   category
 3   Location   1000 non-null   object
 4   Revenue    1000 non-null   int64
 5   Profits    1000 non-null   int64
 6   Employees  1000 non-null   int64
dtypes: category(2), int64(3), object(2)
memory usage: 52.2+ KB

In [9]:
# calculate how many companies are present

df['Company'].nunique()

996

In [10]:
# calculate how many unique companies are present
df['Company'].value_counts()

Regions Financial            2
Portland General Electric    2
Host Hotels & Resorts        2
Noble Energy                 2
Hubbell                      1
                            ..
Campbell Soup                1
Mohawk Industries            1
BorgWarner                   1
PVH                          1
Briggs & Stratton            1
Name: Company, Length: 996, dtype: int64

In [11]:
# total revenue generated for energy sector
energy_sec = pd.DataFrame(df[df['Sector'] == "Energy"]) 
sum(energy_sec["Revenue"])

1517809

In [12]:
df['Sector'].value_counts()

Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Food, Beverages & Tobacco        43
Materials                        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Hotels, Resturants & Leisure     25
Media                            25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Apparel                          15
Telecommunications               15
Food and Drug Stores             15
Name: Sector, dtype: int64

In [13]:
df['Sector'].unique()

['Retailing', 'Energy', 'Technology', 'Financials', 'Health Care', ..., 'Apparel', 'Hotels, Resturants & Leisure', 'Materials', 'Business Services', 'Engineering & Construction']
Length: 21
Categories (21, object): ['Aerospace & Defense', 'Apparel', 'Business Services', 'Chemicals', ..., 'Technology', 'Telecommunications', 'Transportation', 'Wholesalers']

In [14]:
# total number of counts of emp belongs to technological or telecommunication sector
emp_count_tech = pd.DataFrame(df[ df['Sector'] == "Technology"]) 
emp_count_tele = pd.DataFrame(df[df['Sector'] == "Telecommunications"])
sum1  =sum(emp_count_tech["Employees"])
sum2  =sum(emp_count_tele["Employees"])
sum1 + sum2

4411417

In [15]:
emp_count = pd.DataFrame(df[(df['Sector'] == "Technology") | (df['Sector'] == "Telecommunications")]).sum()
emp_count

C:\Users\miles\AppData\Local\Temp\ipykernel_20960\3443023412.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  emp_count = pd.DataFrame(df[(df['Sector'] == "Technology") | (df['Sector'] == "Telecommunications")]).sum()

Company      AppleAT&TVerizonAmazon.comHPMicrosoftIBMAlphab...
Location     Cupertino, CADallas, TXNew York, NYSeattle, WA...
Revenue                                                1839434
Profits                                                 229110
Employees                                              4411417
dtype: object