In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
pokemonDataFrame = pd.read_csv("pokemon_data.csv")
print(type(pokemonDataFrame))
pokemonDataFrame.head() #by default it gives 5 values.

<class 'pandas.core.frame.DataFrame'>

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

Squeeze is used to convert a DataFrame to Series. So We specify seperate columns with usecols = [] argument

In [4]:
pokemonSeries = pd.read_csv("pokemon_data.csv",usecols=["Pokemon"]).squeeze() 
print(type(pokemonSeries))
pokemonSeries.head()

<class 'pandas.core.series.Series'>

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

Series is in the form of key:value pair, So we converted the series to dictionary.

In [5]:
dictionary = dict(pokemonSeries)
print(dictionary)

{0: 'Bulbasaur', 1: 'Ivysaur', 2: 'Venusaur', 3: 'Charmander', 4: 'Charmeleon', 5: 'Charizard', 6: 'Squirtle', 7: 'Wartortle', 8: 'Blastoise', 9: 'Caterpie', 10: 'Metapod', 11: 'Butterfree', 12: 'Weedle', 13: 'Kakuna', 14: 'Beedrill', 15: 'Pidgey', 16: 'Pidgeotto', 17: 'Pidgeot', 18: 'Rattata', 19: 'Raticate', 20: 'Spearow', 21: 'Fearow', 22: 'Ekans', 23: 'Arbok', 24: 'Pikachu', 25: 'Raichu', 26: 'Sandshrew', 27: 'Sandslash', 28: 'Nidoran', 29: 'Nidorina', 30: 'Nidoqueen', 31: 'Nidoranâ™‚', 32: 'Nidorino', 33: 'Nidoking', 34: 'Clefairy', 35: 'Clefable', 36: 'Vulpix', 37: 'Ninetales', 38: 'Jigglypuff', 39: 'Wigglytuff', 40: 'Zubat', 41: 'Golbat', 42: 'Oddish', 43: 'Gloom', 44: 'Vileplume', 45: 'Paras', 46: 'Parasect', 47: 'Venonat', 48: 'Venomoth', 49: 'Diglett', 50: 'Dugtrio', 51: 'Meowth', 52: 'Persian', 53: 'Psyduck', 54: 'Golduck', 55: 'Mankey', 56: 'Primeape', 57: 'Growlithe', 58: 'Arcanine', 59: 'Poliwag', 60: 'Poliwhirl', 61: 'Poliwrath', 62: 'Abra', 63: 'Kadabra', 64: 'Alakazam', 65: 'Machop', 66: 'Machoke', 67: 'Machamp', 68: 'Bellsprout', 69: 'Weepinbell', 70: 'Victreebel', 71: 'Tentacool', 72: 'Tentacruel', 73: 'Geodude', 74: 'Graveler', 75: 'Golem', 76: 'Ponyta', 77: 'Rapidash', 78: 'Slowpoke', 79: 'Slowbro', 80: 'Magnemite', 81: 'Magneton', 82: "Farfetch'd", 83: 'Doduo', 84: 'Dodrio', 85: 'Seel', 86: 'Dewgong', 87: 'Grimer', 88: 'Muk', 89: 'Shellder', 90: 'Cloyster', 91: 'Gastly', 92: 'Haunter', 93: 'Gengar', 94: 'Onix', 95: 'Drowzee', 96: 'Hypno', 97: 'Krabby', 98: 'Kingler', 99: 'Voltorb', 100: 'Electrode', 101: 'Exeggcute', 102: 'Exeggutor', 103: 'Cubone', 104: 'Marowak', 105: 'Hitmonlee', 106: 'Hitmonchan', 107: 'Lickitung', 108: 'Koffing', 109: 'Weezing', 110: 'Rhyhorn', 111: 'Rhydon', 112: 'Chansey', 113: 'Tangela', 114: 'Kangaskhan', 115: 'Horsea', 116: 'Seadra', 117: 'Goldeen', 118: 'Seaking', 119: 'Staryu', 120: 'Starmie', 121: 'Mr. Mime', 122: 'Scyther', 123: 'Jynx', 124: 'Electabuzz', 125: 'Magmar', 126: 'Pinsir', 127: 'Tauros', 128: 'Magikarp', 129: 'Gyarados', 130: 'Lapras', 131: 'Ditto', 132: 'Eevee', 133: 'Vaporeon', 134: 'Jolteon', 135: 'Flareon', 136: 'Porygon', 137: 'Omanyte', 138: 'Omastar', 139: 'Kabuto', 140: 'Kabutops', 141: 'Aerodactyl', 142: 'Snorlax', 143: 'Articuno', 144: 'Zapdos', 145: 'Moltres', 146: 'Dratini', 147: 'Dragonair', 148: 'Dragonite', 149: 'Mewtwo', 150: 'Mew', 151: 'Chikorita', 152: 'Bayleef', 153: 'Meganium', 154: 'Cyndaquil', 155: 'Quilava', 156: 'Typhlosion', 157: 'Totodile', 158: 'Croconaw', 159: 'Feraligatr', 160: 'Sentret', 161: 'Furret', 162: 'Hoothoot', 163: 'Noctowl', 164: 'Ledyba', 165: 'Ledian', 166: 'Spinarak', 167: 'Ariados', 168: 'Crobat', 169: 'Chinchou', 170: 'Lanturn', 171: 'Pichu', 172: 'Cleffa', 173: 'Igglybuff', 174: 'Togepi', 175: 'Togetic', 176: 'Natu', 177: 'Xatu', 178: 'Mareep', 179: 'Flaaffy', 180: 'Ampharos', 181: 'Bellossom', 182: 'Marill', 183: 'Azumarill', 184: 'Sudowoodo', 185: 'Politoed', 186: 'Hoppip', 187: 'Skiploom', 188: 'Jumpluff', 189: 'Aipom', 190: 'Sunkern', 191: 'Sunflora', 192: 'Yanma', 193: 'Wooper', 194: 'Quagsire', 195: 'Espeon', 196: 'Umbreon', 197: 'Murkrow', 198: 'Slowking', 199: 'Misdreavus', 200: 'Unown', 201: 'Wobbuffet', 202: 'Girafarig', 203: 'Pineco', 204: 'Forretress', 205: 'Dunsparce', 206: 'Gligar', 207: 'Steelix', 208: 'Snubbull', 209: 'Granbull', 210: 'Qwilfish', 211: 'Scizor', 212: 'Shuckle', 213: 'Heracross', 214: 'Sneasel', 215: 'Teddiursa', 216: 'Ursaring', 217: 'Slugma', 218: 'Magcargo', 219: 'Swinub', 220: 'Piloswine', 221: 'Corsola', 222: 'Remoraid', 223: 'Octillery', 224: 'Delibird', 225: 'Mantine', 226: 'Skarmory', 227: 'Houndour', 228: 'Houndoom', 229: 'Kingdra', 230: 'Phanpy', 231: 'Donphan', 232: 'Porygon2', 233: 'Stantler', 234: 'Smeargle', 235: 'Tyrogue', 236: 'Hitmontop', 237: 'Smoochum', 238: 'Elekid', 239: 'Magby', 240: 'Miltank', 241: 'Blissey', 242: 'Raikou', 243: 'Entei', 244: 'Suicune', 245: 'Larvitar', 246: 'Pupitar', 247: 'Tyranitar', 248: 'Lugia', 249: 'Ho-oh', 250: 'Celebi', 251: 'Treecko', 252: 'Grovyle', 253: 'Sceptile', 254: 'Torchic', 255: 'Combusken', 256: 'Blaziken', 257: 'Mudkip', 258: 'Marshtomp', 259: 'Swampert', 260: 'Poochyena', 261: 'Mightyena', 262: 'Zigzagoon', 263: 'Linoone', 264: 'Wurmple', 265: 'Silcoon', 266: 'Beautifly', 267: 'Cascoon', 268: 'Dustox', 269: 'Lotad', 270: 'Lombre', 271: 'Ludicolo', 272: 'Seedot', 273: 'Nuzleaf', 274: 'Shiftry', 275: 'Taillow', 276: 'Swellow', 277: 'Wingull', 278: 'Pelipper', 279: 'Ralts', 280: 'Kirlia', 281: 'Gardevoir', 282: 'Surskit', 283: 'Masquerain', 284: 'Shroomish', 285: 'Breloom', 286: 'Slakoth', 287: 'Vigoroth', 288: 'Slaking', 289: 'Nincada', 290: 'Ninjask', 291: 'Shedinja', 292: 'Whismur', 293: 'Loudred', 294: 'Exploud', 295: 'Makuhita', 296: 'Hariyama', 297: 'Azurill', 298: 'Nosepass', 299: 'Skitty', 300: 'Delcatty', 301: 'Sableye', 302: 'Mawile', 303: 'Aron', 304: 'Lairon', 305: 'Aggron', 306: 'Meditite', 307: 'Medicham', 308: 'Electrike', 309: 'Manectric', 310: 'Plusle', 311: 'Minun', 312: 'Volbeat', 313: 'Illumise', 314: 'Roselia', 315: 'Gulpin', 316: 'Swalot', 317: 'Carvanha', 318: 'Sharpedo', 319: 'Wailmer', 320: 'Wailord', 321: 'Numel', 322: 'Camerupt', 323: 'Torkoal', 324: 'Spoink', 325: 'Grumpig', 326: 'Spinda', 327: 'Trapinch', 328: 'Vibrava', 329: 'Flygon', 330: 'Cacnea', 331: 'Cacturne', 332: 'Swablu', 333: 'Altaria', 334: 'Zangoose', 335: 'Seviper', 336: 'Lunatone', 337: 'Solrock', 338: 'Barboach', 339: 'Whiscash', 340: 'Corphish', 341: 'Crawdaunt', 342: 'Baltoy', 343: 'Claydol', 344: 'Lileep', 345: 'Cradily', 346: 'Anorith', 347: 'Armaldo', 348: 'Feebas', 349: 'Milotic', 350: 'Castform', 351: 'Kecleon', 352: 'Shuppet', 353: 'Banette', 354: 'Duskull', 355: 'Dusclops', 356: 'Tropius', 357: 'Chimecho', 358: 'Absol', 359: 'Wynaut', 360: 'Snorunt', 361: 'Glalie', 362: 'Spheal', 363: 'Sealeo', 364: 'Walrein', 365: 'Clamperl', 366: 'Huntail', 367: 'Gorebyss', 368: 'Relicanth', 369: 'Luvdisc', 370: 'Bagon', 371: 'Shelgon', 372: 'Salamence', 373: 'Beldum', 374: 'Metang', 375: 'Metagross', 376: 'Regirock', 377: 'Regice', 378: 'Registeel', 379: 'Latias', 380: 'Latios', 381: 'Kyogre', 382: 'Groudon', 383: 'Rayquaza', 384: 'Jirachi', 385: 'Deoxys', 386: 'Turtwig', 387: 'Grotle', 388: 'Torterra', 389: 'Chimchar', 390: 'Monferno', 391: 'Infernape', 392: 'Piplup', 393: 'Prinplup', 394: 'Empoleon', 395: 'Starly', 396: 'Staravia', 397: 'Staraptor', 398: 'Bidoof', 399: 'Bibarel', 400: 'Kricketot', 401: 'Kricketune', 402: 'Shinx', 403: 'Luxio', 404: 'Luxray', 405: 'Budew', 406: 'Roserade', 407: 'Cranidos', 408: 'Rampardos', 409: 'Shieldon', 410: 'Bastiodon', 411: 'Burmy', 412: 'Wormadam', 413: 'Mothim', 414: 'Combee', 415: 'Vespiquen', 416: 'Pachirisu', 417: 'Buizel', 418: 'Floatzel', 419: 'Cherubi', 420: 'Cherrim', 421: 'Shellos', 422: 'Gastrodon', 423: 'Ambipom', 424: 'Drifloon', 425: 'Drifblim', 426: 'Buneary', 427: 'Lopunny', 428: 'Mismagius', 429: 'Honchkrow', 430: 'Glameow', 431: 'Purugly', 432: 'Chingling', 433: 'Stunky', 434: 'Skuntank', 435: 'Bronzor', 436: 'Bronzong', 437: 'Bonsly', 438: 'Mime Jr.', 439: 'Happiny', 440: 'Chatot', 441: 'Spiritomb', 442: 'Gible', 443: 'Gabite', 444: 'Garchomp', 445: 'Munchlax', 446: 'Riolu', 447: 'Lucario', 448: 'Hippopotas', 449: 'Hippowdon', 450: 'Skorupi', 451: 'Drapion', 452: 'Croagunk', 453: 'Toxicroak', 454: 'Carnivine', 455: 'Finneon', 456: 'Lumineon', 457: 'Mantyke', 458: 'Snover', 459: 'Abomasnow', 460: 'Weavile', 461: 'Magnezone', 462: 'Lickilicky', 463: 'Rhyperior', 464: 'Tangrowth', 465: 'Electivire', 466: 'Magmortar', 467: 'Togekiss', 468: 'Yanmega', 469: 'Leafeon', 470: 'Glaceon', 471: 'Gliscor', 472: 'Mamoswine', 473: 'Porygon-Z', 474: 'Gallade', 475: 'Probopass', 476: 'Dusknoir', 477: 'Froslass', 478: 'Rotom', 479: 'Uxie', 480: 'Mesprit', 481: 'Azelf', 482: 'Dialga', 483: 'Palkia', 484: 'Heatran', 485: 'Regigigas', 486: 'Giratina', 487: 'Cresselia', 488: 'Phione', 489: 'Manaphy', 490: 'Darkrai', 491: 'Shaymin', 492: 'Arceus', 493: 'Victini', 494: 'Snivy', 495: 'Servine', 496: 'Serperior', 497: 'Tepig', 498: 'Pignite', 499: 'Emboar', 500: 'Oshawott', 501: 'Dewott', 502: 'Samurott', 503: 'Patrat', 504: 'Watchog', 505: 'Lillipup', 506: 'Herdier', 507: 'Stoutland', 508: 'Purrloin', 509: 'Liepard', 510: 'Pansage', 511: 'Simisage', 512: 'Pansear', 513: 'Simisear', 514: 'Panpour', 515: 'Simipour', 516: 'Munna', 517: 'Musharna', 518: 'Pidove', 519: 'Tranquill', 520: 'Unfezant', 521: 'Blitzle', 522: 'Zebstrika', 523: 'Roggenrola', 524: 'Boldore', 525: 'Gigalith', 526: 'Woobat', 527: 'Swoobat', 528: 'Drilbur', 529: 'Excadrill', 530: 'Audino', 531: 'Timburr', 532: 'Gurdurr', 533: 'Conkeldurr', 534: 'Tympole', 535: 'Palpitoad', 536: 'Seismitoad', 537: 'Throh', 538: 'Sawk', 539: 'Sewaddle', 540: 'Swadloon', 541: 'Leavanny', 542: 'Venipede', 543: 'Whirlipede', 544: 'Scolipede', 545: 'Cottonee', 546: 'Whimsicott', 547: 'Petilil', 548: 'Lilligant', 549: 'Basculin', 550: 'Sandile', 551: 'Krokorok', 552: 'Krookodile', 553: 'Darumaka', 554: 'Darmanitan', 555: 'Maractus', 556: 'Dwebble', 557: 'Crustle', 558: 'Scraggy', 559: 'Scrafty', 560: 'Sigilyph', 561: 'Yamask', 562: 'Cofagrigus', 563: 'Tirtouga', 564: 'Carracosta', 565: 'Archen', 566: 'Archeops', 567: 'Trubbish', 568: 'Garbodor', 569: 'Zorua', 570: 'Zoroark', 571: 'Minccino', 572: 'Cinccino', 573: 'Gothita', 574: 'Gothorita', 575: 'Gothitelle', 576: 'Solosis', 577: 'Duosion', 578: 'Reuniclus', 579: 'Ducklett', 580: 'Swanna', 581: 'Vanillite', 582: 'Vanillish', 583: 'Vanilluxe', 584: 'Deerling', 585: 'Sawsbuck', 586: 'Emolga', 587: 'Karrablast', 588: 'Escavalier', 589: 'Foongus', 590: 'Amoonguss', 591: 'Frillish', 592: 'Jellicent', 593: 'Alomomola', 594: 'Joltik', 595: 'Galvantula', 596: 'Ferroseed', 597: 'Ferrothorn', 598: 'Klink', 599: 'Klang', 600: 'Klinklang', 601: 'Tynamo', 602: 'Eelektrik', 603: 'Eelektross', 604: 'Elgyem', 605: 'Beheeyem', 606: 'Litwick', 607: 'Lampent', 608: 'Chandelure', 609: 'Axew', 610: 'Fraxure', 611: 'Haxorus', 612: 'Cubchoo', 613: 'Beartic', 614: 'Cryogonal', 615: 'Shelmet', 616: 'Accelgor', 617: 'Stunfisk', 618: 'Mienfoo', 619: 'Mienshao', 620: 'Druddigon', 621: 'Golett', 622: 'Golurk', 623: 'Pawniard', 624: 'Bisharp', 625: 'Bouffalant', 626: 'Rufflet', 627: 'Braviary', 628: 'Vullaby', 629: 'Mandibuzz', 630: 'Heatmor', 631: 'Durant', 632: 'Deino', 633: 'Zweilous', 634: 'Hydreigon', 635: 'Larvesta', 636: 'Volcarona', 637: 'Cobalion', 638: 'Terrakion', 639: 'Virizion', 640: 'Tornadus', 641: 'Thundurus', 642: 'Reshiram', 643: 'Zekrom', 644: 'Landorus', 645: 'Kyurem', 646: 'Keldeo', 647: 'Meloetta', 648: 'Genesect', 649: 'Chespin', 650: 'Quilladin', 651: 'Chesnaught', 652: 'Fennekin', 653: 'Braixen', 654: 'Delphox', 655: 'Froakie', 656: 'Frogadier', 657: 'Greninja', 658: 'Bunnelby', 659: 'Diggersby', 660: 'Fletchling', 661: 'Fletchinder', 662: 'Talonflame', 663: 'Scatterbug', 664: 'Spewpa', 665: 'Vivillon', 666: 'Litleo', 667: 'Pyroar', 668: 'FlabÃ©bÃ©', 669: 'Floette', 670: 'Florges', 671: 'Skiddo', 672: 'Gogoat', 673: 'Pancham', 674: 'Pangoro', 675: 'Furfrou', 676: 'Espurr', 677: 'Meowstic', 678: 'Honedge', 679: 'Doublade', 680: 'Aegislash', 681: 'Spritzee', 682: 'Aromatisse', 683: 'Swirlix', 684: 'Slurpuff', 685: 'Inkay', 686: 'Malamar', 687: 'Binacle', 688: 'Barbaracle', 689: 'Skrelp', 690: 'Dragalge', 691: 'Clauncher', 692: 'Clawitzer', 693: 'Helioptile', 694: 'Heliolisk', 695: 'Tyrunt', 696: 'Tyrantrum', 697: 'Amaura', 698: 'Aurorus', 699: 'Sylveon', 700: 'Hawlucha', 701: 'Dedenne', 702: 'Carbink', 703: 'Goomy', 704: 'Sliggoo', 705: 'Goodra', 706: 'Klefki', 707: 'Phantump', 708: 'Trevenant', 709: 'Pumpkaboo', 710: 'Gourgeist', 711: 'Bergmite', 712: 'Avalugg', 713: 'Noibat', 714: 'Noivern', 715: 'Xerneas', 716: 'Yveltal', 717: 'Zygarde', 718: 'Diancie', 719: 'Hoopa', 720: 'Volcanion'}

To sort the dictionary --> returns list

In [6]:
sorted(dictionary)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720]

Sorting the Series

In [7]:
pokemonSeries.sort_values()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

Here the index is unsorted, so we have to ignore the index and reassign from 0 to n-1

In [8]:
pokemonSeries.sort_values(ignore_index=True, ascending= True) #ascending argument is used to sort in ascending and descending based on boolean value.

0      Abomasnow
1           Abra
2          Absol
3       Accelgor
4      Aegislash
         ...
716      Zoroark
717        Zorua
718        Zubat
719     Zweilous
720      Zygarde
Name: Pokemon, Length: 721, dtype: object

Row Label Indexing:
--------------------
We can also initialize index by any one of the columns, but while creating an index make sure the column has unique values

In [9]:
df = pd.read_csv("pokemon_data.csv",index_col =  ["Pokemon"])
df.head()

             Type
Pokemon
Bulbasaur   Grass
Ivysaur     Grass
Venusaur    Grass
Charmander   Fire
Charmeleon   Fire

Can a dataframe has composite indexing?
------------------------------------------
Yes, a pandas DataFrame in Python can have composite indexing. This means that instead of having a single index for each row, a DataFrame can have multiple indices, known as a MultiIndex, to allow for more expressive and hierarchical labeling of the data. To create a MultiIndex, you can pass a list of arrays or labels to the pd.MultiIndex.from_tuples or pd.MultiIndex.from_arrays method and then assign it to the DataFrame.index property.

Here's an example:

In [10]:
import pandas as pd

# Create a DataFrame with sample data
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Create a MultiIndex from tuples
multiindex = pd.MultiIndex.from_tuples([(0, 'a'), (1, 'b'), (2, 'c')])

# Assign the MultiIndex to the DataFrame index
df.index = multiindex

# Access the DataFrame with composite index
print(df)

# Output:
#      A  B  C
# 0 a  1  4  7
# 1 b  2  5  8
# 2 c  3  6  9

     A  B  C
0 a  1  4  7
1 b  2  5  8
2 c  3  6  9

In this example, a MultiIndex is created from tuples and then assigned to the index of the DataFrame. The MultiIndex allows you to access the data using both levels of the index, making it easier to work with multi-level data in a DataFrame.

Sorting the data based on indexing:
-----------------------------------

In [11]:
df = pd.read_csv("pokemon_data.csv",index_col =  ["Pokemon"])
df.sort_index()

              Type
Pokemon
Abomasnow    Grass
Abra       Psychic
Absol         Dark
Accelgor       Bug
Aegislash    Steel
...            ...
Zoroark       Dark
Zorua         Dark
Zubat       Poison
Zweilous      Dark
Zygarde     Dragon

[721 rows x 1 columns]

To check whether index is present in to row labels
---------------------------------------------------

In [12]:
"Abra" in df.index

True

Accessing Data using index:
----------------------------

In [13]:
pokemonSeries = pd.read_csv("pokemon_data.csv",usecols=["Pokemon"]).squeeze() 
pokemonSeries[0:5]

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [14]:
pokemonSeries[[0,2,4,7,9]]

0     Bulbasaur
2      Venusaur
4    Charmeleon
7     Wartortle
9      Caterpie
Name: Pokemon, dtype: object

Updating a value via index
---------------------------

In [15]:
pokemonSeries[0] = "bulbasaur"
pokemonSeries.head()

0     bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

Multiple Updation
---------------

In [16]:
pokemonSeries[[0,2,720]] = "new_updated_value"

pokemonSeries[[0,2,720]]

0      new_updated_value
2      new_updated_value
720    new_updated_value
Name: Pokemon, dtype: object

In [17]:
pokemonSeries = pd.read_csv("pokemon_data.csv",index_col="Pokemon").squeeze()
print(pokemonSeries[0:5])
type(pokemonSeries)

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

pandas.core.series.Series

To access data by get() Method, if data is not present it skips.
----------------------------------------------------------------

In [18]:
print(pokemonSeries.get([0,5]))
print(pokemonSeries.get("Bulbasaur"))

Pokemon
Bulbasaur    Grass
Charizard     Fire
Name: Type, dtype: object
Grass

In [19]:
print(pokemonSeries.get("Bulbasaura","help")) #if the firs value is not present, it displays 2nd parameter.

help

While creating a Series from a DataFrame, whatever changes or updates done in Series it affects the dataframe too.
-----------------------

In [20]:
pokemonSeries = pd.read_csv("pokemon_data.csv",index_col="Pokemon")
type(pokemonSeries)

pandas.core.frame.DataFrame

In [21]:
series = pokemonSeries.squeeze()
type(series)

pandas.core.series.Series

In [36]:
series.head()

Pokemon
Bulbasaur     new_updated_value
Ivysaur       new_updated_value
Venusaur                  Grass
Charmander                 Fire
Charmeleon                 Fire
Name: Type, dtype: object

In [22]:
series[[0,1]] = ["new_updated_value","new_updated_value"]

print(series.head())
print(pokemonSeries.head())

Pokemon
Bulbasaur     new_updated_value
Ivysaur       new_updated_value
Venusaur                  Grass
Charmander                 Fire
Charmeleon                 Fire
Name: Type, dtype: object
                         Type
Pokemon
Bulbasaur   new_updated_value
Ivysaur     new_updated_value
Venusaur                Grass
Charmander               Fire
Charmeleon               Fire

Changes appears in DataFrame also

To Apply any function in every element of the Series:
------------------------------------------------------

In [23]:
series.apply(len) #it's not assigned to the same variable.

Pokemon
Bulbasaur     17
Ivysaur       17
Venusaur       5
Charmander     4
Charmeleon     4
              ..
Yveltal        4
Zygarde        6
Diancie        4
Hoopa          7
Volcanion      4
Name: Type, Length: 721, dtype: int64

In [24]:
series.head()

Pokemon
Bulbasaur     new_updated_value
Ivysaur       new_updated_value
Venusaur                  Grass
Charmander                 Fire
Charmeleon                 Fire
Name: Type, dtype: object

Question:
--------

Now apply a fn in which a away the year is from 1960 to 1975 , so we have to get the output as movie hit.
if movie is from 1975 to 2000 --> movie flop
else --> movie average

In [25]:
df = pd.read_csv("jamesbond_user.csv")
df.head()
df = df.set_index("Film")

In [26]:
df.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [27]:
df["ratings"] = 1
list1 = []
for i in df.iloc[:,0]:
    if i > 1960 and i < 1975:
        list1.append("Movie Hit")
    elif i >= 1975 and i < 2000:
        list1.append("Movie Flop")
    else:
        list1.append("Movie Average")

print(list1)

['Movie Hit', 'Movie Hit', 'Movie Hit', 'Movie Hit', 'Movie Hit', 'Movie Hit', 'Movie Hit', 'Movie Hit', 'Movie Hit', 'Movie Hit', 'Movie Flop', 'Movie Flop', 'Movie Flop', 'Movie Flop', 'Movie Flop', 'Movie Flop', 'Movie Flop', 'Movie Flop', 'Movie Flop', 'Movie Flop', 'Movie Flop', 'Movie Average', 'Movie Average', 'Movie Average', 'Movie Average', 'Movie Average']

In [28]:
df["Ratings"] = list1

In [29]:
df["Ratings"]

Film
Dr. No                                 Movie Hit
From Russia with Love                  Movie Hit
Goldfinger                             Movie Hit
Thunderball                            Movie Hit
Casino Royale                          Movie Hit
You Only Live Twice                    Movie Hit
On Her Majesty's Secret Service        Movie Hit
Diamonds Are Forever                   Movie Hit
Live and Let Die                       Movie Hit
The Man with the Golden Gun            Movie Hit
The Spy Who Loved Me                  Movie Flop
Moonraker                             Movie Flop
For Your Eyes Only                    Movie Flop
Never Say Never Again                 Movie Flop
Octopussy                             Movie Flop
A View to a Kill                      Movie Flop
The Living Daylights                  Movie Flop
Licence to Kill                       Movie Flop
GoldenEye                             Movie Flop
Tomorrow Never Dies                   Movie Flop
The World Is Not Enough               Movie Flop
Die Another Day                    Movie Average
Casino Royale                      Movie Average
Quantum of Solace                  Movie Average
Skyfall                            Movie Average
Spectre                            Movie Average
Name: Ratings, dtype: object

In [30]:
df["Ratings"].value_counts()

Movie Flop       11
Movie Hit        10
Movie Average     5
Name: Ratings, dtype: int64

In [31]:
dictionary = dict()

for i in range(len(df)):
    if df['Year'][i] not in dictionary.keys():
        dictionary[df['Year'][i]] = df['Ratings'][i]

print(dictionary)

{1962: 'Movie Hit', 1963: 'Movie Hit', 1964: 'Movie Hit', 1965: 'Movie Hit', 1967: 'Movie Hit', 1969: 'Movie Hit', 1971: 'Movie Hit', 1973: 'Movie Hit', 1974: 'Movie Hit', 1977: 'Movie Flop', 1979: 'Movie Flop', 1981: 'Movie Flop', 1983: 'Movie Flop', 1985: 'Movie Flop', 1987: 'Movie Flop', 1989: 'Movie Flop', 1995: 'Movie Flop', 1997: 'Movie Flop', 1999: 'Movie Flop', 2002: 'Movie Average', 2006: 'Movie Average', 2008: 'Movie Average', 2012: 'Movie Average', 2015: 'Movie Average'}

In [32]:
df.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary,ratings,Ratings
Film,,,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6,1,Movie Hit
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6,1,Movie Hit
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2,1,Movie Hit
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7,1,Movie Hit
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN,1,Movie Hit

In [33]:
df["Year"].map(dictionary)

Film
Dr. No                                 Movie Hit
From Russia with Love                  Movie Hit
Goldfinger                             Movie Hit
Thunderball                            Movie Hit
Casino Royale                          Movie Hit
You Only Live Twice                    Movie Hit
On Her Majesty's Secret Service        Movie Hit
Diamonds Are Forever                   Movie Hit
Live and Let Die                       Movie Hit
The Man with the Golden Gun            Movie Hit
The Spy Who Loved Me                  Movie Flop
Moonraker                             Movie Flop
For Your Eyes Only                    Movie Flop
Never Say Never Again                 Movie Flop
Octopussy                             Movie Flop
A View to a Kill                      Movie Flop
The Living Daylights                  Movie Flop
Licence to Kill                       Movie Flop
GoldenEye                             Movie Flop
Tomorrow Never Dies                   Movie Flop
The World Is Not Enough               Movie Flop
Die Another Day                    Movie Average
Casino Royale                      Movie Average
Quantum of Solace                  Movie Average
Skyfall                            Movie Average
Spectre                            Movie Average
Name: Year, dtype: object

In [34]:
myDictionary = {"Water" : "Happy",
                "Fire" : "Angry",
                "Venusaur" : "Sad"}

In [35]:
series.map(myDictionary)

Pokemon
Bulbasaur       NaN
Ivysaur         NaN
Venusaur        NaN
Charmander    Angry
Charmeleon    Angry
              ...
Yveltal         NaN
Zygarde         NaN
Diancie         NaN
Hoopa           NaN
Volcanion     Angry
Name: Type, Length: 721, dtype: object